@font-face {
   font-family: 'ThePeakFontBeta_V0_101';
   font-display: swap;
   src: url('file:///C:/Users/USER/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-01-20_092724/fonts/ThePeakFontBeta_V0_101/font.ttf');
}
